<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="SagarBhatt">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Facebook Album</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/app.css" />
    <link rel="stylesheet" href="lib/css/style.css" />
   
    <script src="lib/angular/angular.js"></script>
    <link rel='stylesheet' href='lib/angular_loading/src/loading-bar.css' type='text/css' media='all' />
    <script type='text/javascript' src='lib/angular_loading/src/loading-bar.js'></script>
</head>

<body >

    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container ">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">FacebookAlbum</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#views">Home</a></li>
                    <li><a href="#about">About</a></li>

                </ul>


            </div>
        </div>
    </nav>

    <div class="container content" ng-app="fbApp" ng-controller="fbCtrl" data-ng-init="init()">

        <h2 > {{ welcome }} </h2>
        
        <div class="col-sm-3" ng-repeat="x in data" ng-if="x.photo_count > 0">
            <h4 >{{x.name }}</h4>
            <h4 > Total images : {{x.photo_count}}</h4>
            <img ng-src ="{{ x.picture.url }}" width="100%" height="100%" class="img-responsive" style="min-height:252px; max-height:252px;"/>
            <hr>
            <button class="btn btn-info btn-block" ng-click="showFull(x.photos)" >Slideshow</button>
            <button class="btn btn-info btn-block" ng-click="Download(x.photos)" >Download This Album</button> 
            <center><input type="checkbox" value="{{x}}" /></center>
           <!-- <div ng-repeat="img in x.photos">
                    <img ng-src="{{ img.images[5].source }}" />

            </div>
            -->
        
            <hr>
        
        </div>
       
       <button class="btn btn-danger btn-block" ng-click="DownloadSelected()" >Download Selected</button>
       <button class="btn btn-danger btn-block" ng-click="DownloadAll()" >Download All</button>
       
       <button ng-show="downloadLink" class="btn btn-success btn-block" ng-click="DownloadReady()"><b>Your download link: {{ downloadLink }} </b></button>>
       <hr>
    </div>
    
    <nav class="navbar navbar-inverse navbar-fixed-bottom" >
        <div class="container-fluid">
            <div class="navbar-header">

                <a href="#" class="navbar-brand">
                    <span class="glyphicon glyphicon-copyright-mark">Developed By SagarBhatt</span>
                </a>
                </p>
            </div>

        </div>
    </nav>
<script src="lib/ngStorage.min.js"></script>
<script src="lib/js/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js" ></script>


<script>

var app = angular.module('fbApp',['ngStorage','angular-loading-bar']);

app.controller('fbCtrl',function($scope,$http,$localStorage,$window){
$scope.welcome="Albums";
$scope.init= function(){

    $http.get('home.php')
    .then(function(response){
        //alert('Called');
        //console.log("hi");
        $scope.data = response.data;
        
        console.log(response);

    });

};

$scope.DownloadReady =function(){

 $window.open($scope.downloadLink);   
}

$scope.DownloadAll = function(){

    var x = $scope.data;
    var album = x ;
    var len = album.length;
    if(len<= 0){
    alert('Opps,First please select albums');
    return ;
    }
    var imageData = [];
    var i,j;
    i=j=0;
    

    for(i=0;i<len;i++){

       var albumData ={
        name:'',
        img:[]

        };
       var x =album[i];
       albumData.name =x.name;
       console.log(x.name);
       console.log(x);
       x=x.photos;
     try{
       for(j=0;j<x.length;j++){
            console.log(x[j].images[1]);
           
           albumData.img.push(x[j].images[1].source);
           //imageData.push(x[j].images[1].source);
       }
       imageData.push(albumData);
     }catch(e){

         
     }
       console.log(imageData);
       //JSON.stringify(imageData);
    }

    
    $http({
        method: 'POST',
        url: 'downloadFolder.php',
        data: imageData,
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        }
    }).success(function(data) {
        console.log(data);
        var base_url = window.location.origin;
        $scope.downloadLink= base_url+'/sagarkbhatt.github.io'+'/'+data[0] ;
        //$window.open(base_url+'/sagarkbhatt.github.io'+'/'+data[0]);   
    });


   }




   
$scope.DownloadSelected =function(){
  
    var album= [];
    $(':checkbox:checked').each(function(i){
          album[i] = $.parseJSON($(this).val());
    });
    console.log(album);
    var len = album.length;
    if(len<= 0){
    alert('Opps,First please select albums');
    return ;
    }
    var imageData = [];
    var i,j;
    i=j=0;
    

    for(i=0;i<len;i++){

       var albumData ={
        name:'',
        img:[]

        };
       var x =album[i];
       albumData.name =x.name;
       console.log(x.name);
       console.log(x);
       x=x.photos;
     try{
       for(j=0;j<x.length;j++){
            console.log(x[j].images[1]);
           
           albumData.img.push(x[j].images[1].source);
           //imageData.push(x[j].images[1].source);
       }
       imageData.push(albumData);
     }catch(e){

         
     }
       console.log(imageData);
       //JSON.stringify(imageData);
    }

    
    $http({
        method: 'POST',
        url: 'downloadFolder.php',
        data: imageData,
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        }
    }).success(function(data) {
        console.log(data);
        var base_url = window.location.origin;
        $scope.downloadLink= base_url+'/sagarkbhatt.github.io'+'/'+data[0] ;
        //$window.open(base_url+'/sagarkbhatt.github.io'+'/'+data[0]);   
    });

    

}
$scope.showFull= function(x){

    $localStorage.imageData=x;
    $window.open('fullscreen.html');

};

$scope.Download =function(x){

    var imageData =[];
    var i=0;
    for(i=0;i<x.length;i++)
    {
    imageData.push(x[i].images[1].source);

    }


    $http({
        method: 'POST',
        url: 'download.php',
        data: imageData,
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        }
    }).success(function(data) {

        var base_url = window.location.origin;
        $scope.downloadLink= base_url+'/sagarkbhatt.github.io'+'/'+data[0] ;
        //$window.open(base_url+'/sagarkbhatt.github.io'+'/'+data[0])   
    });


    };

});

</script>

</body>

</html>
